<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{"sagar" | add:" Kumar"}}</h1>
    <h1>{{"sagar" | title}} </h1>
    <h1>{{"sagar" | upper}} </h1>
    <h1>{{"sagar" | length}} </h1>
    <h1>{{"sagar" | random}} </h1>
    <h1>{{"sagar is sagar" | wordcount}}</h1>
    <h1>{{a | linenumbers}}</h1>
    <h1>{{b | unordered_list}}</h1>
    <h1>{{b | join:"value"}}</h1>
    <h1>{{c | default:11}} </h1>
    <h1>{{"sagar is sagar"| slice:"0:9"}} </h1>
    <h1>{{c}}</h1>

</body>
</html>