{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <main>
        <h1>WELCOME</h1>

    </main>
    <img src="https://cdn.pixabay.com/photo/2017/01/31/23/48/skull-2028286_1280.png" alt="" id="img1">
    <!-- <img src="{% static 'pic.webp' %}" alt=""> -->
    <img src="https://cdn.pixabay.com/photo/2013/07/12/19/22/biometrics-154660_1280.png" alt="" id="img2">
    <!-- <img src="https://cdn.pixabay.com/photo/2017/09/26/18/45/hand-2789741_1280.png" alt="" id="img3"> -->
    <!-- <img src="https://cdn.pixabay.com/photo/2017/09/13/21/25/hammer-2747050_1280.png" alt="" id="img4"> -->
    <img src="https://cdn.pixabay.com/photo/2017/10/29/14/02/portrait-2899779_1280.png" alt="" id="img5">
</body>
</html>